html 
	height: 100%
body 
	margin: 0;
// background: linear-gradient(to bottom, #020d18, #063864) no-repeat;
 margin: 0;
.title
	text-align: center;
	height: 100%;
.titleP
	font-size: 4vw;
	color: white;
	height: 100%;
	margin: 0;
	font-family: Arial Bold;
	font-weight: bold;
.text
	height: 10%;
#root 
	height: 100%;
	background: linear-gradient(to bottom, #020d18, #063864) no-repeat;
.app 
	height: 100%
	padding-top: 4%
.line
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 3%
.hrLine
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	
.hrLineLeft
	width: 96%;
	margin-right: 2%;
	border: 0;
	height: 4px; 
	background-image: linear-gradient(to right, transparent, #1c2935);
.hrLineRight
	width: 96%;
	margin-left: 2%;
	border: 0;
	height: 4px; 
	background-image: linear-gradient(to left, transparent, #1c2935);
.titleBlock
	color: #69829a;
	font-family: Arial Bold;
	font-weight: bold;
	white-space: nowrap;
	font-size: 13pt;
.container
	
	margin: 0 auto;
.coins-container
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	min-width: 30%;
	max-width: 70%;
.im 
	position: relative;
.onCoinBtnClick
	background: none;	
	outline: none;
	border: none;
	color: white;
	width: 152px;
	border-bottom: 2px dotted white;
.img-coins
	margin: 0 auto;
	display: flex;
	width: 115px;
	z-index: 0;	
.onCoinBtnClick-container
	width: 152px;
	margin: 0 auto;

.coins
.pCoins
	text-align: center;
	color: white;
.sellIngredient
	background: linear-gradient(to bottom, #fbd9d9, #d94c4c);
	box-shadow: #d84a4a 0px -15px 5px 0px inset;
.buyIngredient
	background: linear-gradient(to bottom, #a7ddad, #8cbd6a)
	box-shadow: #76b366 0px -15px 5px 0px inset

.Ingredient
	height: 30px;
	border-radius: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	border: 0;
	font-size: 16px;
	font-family: "Arial";
	font-weight: bold;
	outline: none;
	width: 160px;

.buyIngredientGroup
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;	
	width: 45%;
	margin: 0 auto;

.buyIngredientP
	color: #7d8288;
	font-weight: bold;

.INmgIngredient
	height: 118px;
.containerImg
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: Arial Regular;
	font-family: Arial Regular;
	color: white;
	font-weight: bold;
.AmountIngredintsImgP
	font-size: 30pt;



$bg: #332f35;
$fg: lighten($bg,20%);
$borderWidth: 3px;


input[type=radio] 
  position: absolute;
  visibility: hidden;
  display: none;


label 
  color: lighten($bg,40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;


input[type=radio]:checked + label
  color: lighten($bg,60%);
  background: $fg;


label + input[type=radio] + label 
  //border-left: solid $borderWidth $fg;

.radio-group 
  //border: solid $borderWidth $fg;
  display: inline-block;
  margin: 5px;
  overflow: hidden;
.container-radio-group
	width: 391px;
	display: flex;
	align-items: center;
	margin-left: 50px;
	color: white;	

.addIngredient
	background: none;
	outline: none;
	border: none;
	color: white;
.btnGroupIngredient
	display: flex;